.idea/
.vscode/
.rules
.run-logs/
dist/
frontend-app/unpackage/
frontend-app/node_modules/
frontend-app/.vite/
frontend-app/.hbuilderx/
ai-service/training/datasets/
ai-service/model/**/checkpoints/*.pth

**/target/
**/build/
**/.DS_Store
**/*.log
**/*.out
**/*.err

__pycache__/
**/__pycache__/
*.pyc
.env
.env.*
