.idea/
.vscode/
.rules
.run-logs/
dist/
frontend-app/unpackage/
frontend-app/node_modules/
frontend-app/.vite/
frontend-app/.hbuilderx/
admin-web/node_modules/
admin-web/.vite/
ai-service/training/datasets/
ai-service/model/**/checkpoints/*.pth

**/target/
**/build/
**/.DS_Store
**/*.log
**/*.out
**/*.err

__pycache__/
**/__pycache__/
*.pyc
.env
.env.*
!.env.example
.ai4food-safe-env/
ai-service/inference/python/.venv/
model/**/*.hdf5
model/**/*.h5
model/**/*.ckpt
model/**/*.pt
model/**/*.pth
.m2/
